version: '3.8'

services:
  db:
    image: postgres:14.4-alpine
    environment:
      TZ: UTC
      PGTZ: UTC
      DB_PASSWORD: $DB_PASSWORD
    volumes:
      - "./api/tmp/db:/var/lib/postgresql/data"

  api:
    build:
      context: ./api
      args:
        WORKDIR:      $WORKDIR
        FRONT_URL:    $FRONT_URL
        API_URL:      $API_URL
        IMAGE_URL:    $IMAGE_URL
        DB_NAME:      $DB_NAME
        DB_HOSTNAME:  $DB_HOSTNAME
        DB_USERNAME:  $DB_USERNAME
        DB_PASSWORD:  $DB_PASSWORD
    command: /bin/sh -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - "./api:/$WORKDIR"
    depends_on:
      - db
    ports:
      - "$API_PORT:$CONTAINER_PORT"
    #----- デバッグ用 -----
    tty: true
    stdin_open: true

  front:
    build:
      context: ./front
      args:
        WORKDIR:    $WORKDIR
        APP_NAME:   $APP_NAME
        API_URL:    $API_URL
        IMAGE_URL:  $IMAGE_URL
    command: yarn run dev
    volumes:
      - ./front:/$WORKDIR
    ports:
      - "$FRONT_PORT:$CONTAINER_PORT"
    depends_on:
      - api