version: '3.8'

services:
  db:
    image: postgres:14.4-alpine
    environment:
      TZ: UTC
      PGTZ: UTC
      DB_PASSWORD: $DB_PASSWORD
    volumes:
      - "./api/tmp/db:/var/lib/postgresql/data"

  api:
    build:
      context: ./api
      args:
        WORKDIR: $WORKDIR
    environment:
      API_DOMAIN: "localhost:$FRONT_PORT"
      DB_PASSWORD: $DB_PASSWORD
      BASE_URL: "http://localhost:$API_PORT"
    command: /bin/sh -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - "./api:/$WORKDIR"
    depends_on:
      - db
    ports:
      - "$API_PORT:$CONTAINER_PORT"
    # デバッグ用
    tty: true
    stdin_open: true

  front:
    build:
      context: ./front
      args:
        WORKDIR: $WORKDIR
        API_URL: "http://localhost:$API_PORT"
    command: yarn run dev
    volumes:
      - ./front:/$WORKDIR
    ports:
      - "$FRONT_PORT:$CONTAINER_PORT"
    depends_on:
      - api