version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@6.15.3
  aws-ecs: circleci/aws-ecs@1.2.0
  aws-cli: circleci/aws-cli@1.4.1

jobs:
  build:
    machine: true
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run:
          name: docker-compose build
          command: docker-compose build
  test:
    machine: true
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run:
          name: docker-compose up -d
          command: docker-compose up -d
      - run: sleep 10
      - run:
          name: docker-compose run api rails db:create RAILS_ENV=test
          command: docker-compose run api rails db:create RAILS_ENV=test
      - run:
          name: docker-compose run api rails db:migrate RAILS_ENV=test
          command: docker-compose run api rails db:migrate RAILS_ENV=test
      - run:
          name: docker-compose run api bundle exec rspec spec
          command: docker-compose run api bundle exec rspec spec
      - run:
          name: docker-compose run front yarn install
          command: docker-compose run front yarn install
      - run:
          name: docker-compose run front yarn run test
          command: docker-compose run front yarn test
      - run:
          name: docker-compose down
          command: docker-compose down

workflows:
  build_and_test_and_deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - aws-ecr/build-and-push-image:
          name: 'build-and-push-api'
          account-url: AWS_ECR_ACCOUNT_URL
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          region: AWS_REGION
          repo: ${API_REPO}
          tag: "${CIRCLE_SHA1}"
          path: './api'
          requires:
            - test
          # masterブランチへのpush時のみ実行
          filters:
            branches:
              only:
                - master
      - aws-ecr/build-and-push-image:
          name: 'build-and-push-front'
          account-url: AWS_ECR_ACCOUNT_URL
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          region: AWS_REGION
          repo: ${FRONT_REPO}
          tag: "${CIRCLE_SHA1}"
          path: './front'
          requires:
            - test
          filters:
            branches:
              only:
                - master