version: 2.1

# orbs:
#   aws-ecr: circleci/aws-ecr@6.15.3
#   aws-ecs: circleci/aws-ecs@2.1.0
#   aws-cli: circleci/aws-cli@1.4.1

jobs:
  ##################################################
  # apiテスト
  ##################################################
  test_api:
    docker:
      - image: circleci/ruby:2.7.5-node-browsers-legacy
        environment:
          RAILS_ENV: test
          DB_HOST: 127.0.0.1
      - image: circleci/postgres:13.5-postgis
    working_directory: ~/repo
    steps:
      #==================================================
      # コードの取得
      #==================================================
      - checkout
      #==================================================
      # キャッシュからgemを復元
      #==================================================
      - restore_cache:
          keys:
            - gem-cache-v1-{{ checksum "~/repo/api/Gemfile.lock" }}
            - gem-cache-v1-
          working_directory: ~/repo/api
      #==================================================
      # Gemインストール
      #==================================================
      - run:
          command: |
            gem install bundler
            bundle config set path 'vendor/bundle'
            bundle install --jobs=4 --retry=3
          working_directory: ~/repo/api
      - save_cache:
          key: gem-cache-v1-{{ checksum "~/repo/api/Gemfile.lock" }}
          paths:
            - ~/repo/api/vendor/bundle
          working_directory: ~/repo/api
      #==================================================
      # DBセットアップ
      #==================================================
      - run:
          command: bundle exec rails db:create
          working_directory: ~/repo/api
      - run:
          command: bundle exec rails db:migrate
          working_directory: ~/repo/api
      - run:
          name: create directory to store test results
          command: mkdir /tmp/test-results
          working_directory: ~/repo/api
      #==================================================
      # テスト実行
      #==================================================
      - run:
          name: RSpec
          command: |
            bundle exec rspec $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings) \
              || (printf "====== RETRYING...\n\n\n"; bundle exec rspec --only-failures)
          working_directory: ~/repo/api
      #==================================================
      # 実行結果
      #==================================================
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results
      - store_artifacts:
          path: /home/circleci/repo/tmp/screenshots

  ##################################################
  # frontテスト
  ##################################################
  test_front:
    docker:
      - image: circleci/node:16.13.1-stretch-browsers-legacy
        environment:
          NODE_ENV: test
    working_directory: ~/repo
    steps:
      #==================================================
      # コードの取得
      #==================================================
      - checkout
      #==================================================
      # キャッシュ
      #==================================================
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "~/repo/front/package.json" }}
          working_directory: ~/repo/front
      - run:
          name: install-packages
          command: yarn install
          working_directory: ~/repo/front
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "~/repo/front/package.json" }}
          working_directory: ~/repo/front
      #==================================================
      # テスト実行
      #==================================================
      - run:
          name: test
          command: yarn run test
          working_directory: ~/repo/front

workflows:
  version: 2
  test:
    jobs:
      - test_api:
          filters:
            branches:
              ignore: master
      - test_front:
          filters:
            branches:
              ignore: master